<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onthelive.oauth.as.repository.mapper.TokenMapper">


    <resultMap id="TokenResultMap" type="Token">
        <id property="id"                       column="id" />
        <result property="clientId"             column="client_id" />
        <result property="accessToken"          column="access_token" />
        <result property="refreshToken"         column="refresh_token" />
        <result property="tokenType"            column="token_type" />
        <result property="scopes"               column="scopes" />
        <result property="serializedIdToken"    column="serialized_id_token" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <select id="selectTokenByRefreshToken" parameterType="String" resultMap="TokenResultMap">
        SELECT *
        FROM tokens
        WHERE refresh_token = #{refreshToken}
    </select>

    <insert id="insertToken" parameterType="Token">
        INSERT INTO tokens (
            client_id,
            access_token,
            refresh_token,
            token_type,
            scopes,
            serialized_id_token
        ) VALUES (
            #{clientId},
            #{accessToken},
            #{refreshToken},
            #{tokenType},
            #{scopes},
            #{serializedIdToken}
        )
    </insert>

    <delete id="deleteTokenByRefreshToken" parameterType="String">
        DELETE FROM tokens
        WHERE refresh_token = #{refreshToken}
    </delete>
</mapper>
